* {
  margin: 0px;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  background-color: rgb(5, 9, 43);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* padding-bottom: 50px; */
  margin: 10px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(10, 19, 70);
}
.banner {
  background: url("./assets/images/1771277237237~2.png");
  /* display: inline-block; */
  background-size: cover;
  margin-top: 0px;
  padding: 10%;
}

a {
  color: inherit;
}

.buttons {
  display: flex;
  gap: 0.5em;
  justify-content: flex-start;
}

.buttons button {
  height: 3rem;
  border-width: 0;
  width: 10rem;
  border-radius: 2em;
}

button a {
  text-decoration: none;
}
.buttons button:first-child {
  background-color: blue;
  color: white;
}
.banner h1,
.banner p,
.buttons {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 60px;
  width: 60%;
}

.banner p {
  font-size: 25px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.car {
  width: 30%;
  min-width: 18em;
  max-width: 50%;
  margin: 10px;
  transition: opacity 0.3s ease;
  /* display: block; */
}

.car button {
  position: relative;
  top: 5px;
  left: 10px;
  display: inline-block;
  background-color: green;
  padding: 5px 1px;
  border-width: 0;
  border-radius: 10px;
  width: 4em;
}

.carImage {
  width: 100%;
  height: 15em;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0px;
}

.cardetails {
  background-color: rgb(5, 9, 55);
  padding: 0 5% 1em;
  margin: 0px;
  width: 90%;
  display: inline-block;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.cardetails h3 {
  color: aqua;
}

.cardetails button {
  background-color: gray;
  width: 90%;
  padding: 0.5em 2em;
  color: white;
  font-weight: 600;
  font-size: larger;
  cursor: not-allowed;
}

.cardetails h4 {
  font-size: 1.5em;
}

.inventoryHead {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3rem;
  color: white;
}

.filter {
  padding: 1em;
  background-color: rgb(5, 9, 55);
  border-radius: 1em;
  display: flex;
  margin-bottom: 3em;
  justify-content: space-around;
}

.filter input,
.filter select {
  width: 40%;
  background-color: rgb(5, 9, 43);
  border-radius: 2em;
  border-width: 0;
  height: 2rem;
  color: white;
  padding: 0 20px;
  text-align: center;
}

.filter select {
  width: 20%;
}

hr {
  border-color: grey;
}

.inventory {
  margin: 0 5% 5em;
}

.inventory p {
  color: gray;
}

.inventory h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.specs {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.spec {
  margin: 0px;
}

.spec p,
h5 {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 1em;
}

.topbar {
  display: flex;
  margin-bottom: 0px;
  height: fit-content;
  gap: 3em;

  justify-content: space-around;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 50px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: 2em;
  background-color: #b1d5ef;
}

footer section {
  /* padding: 0 5%; */
  display: flex;
  /* gap: 5%; */
  justify-content: space-around;
}

footer div {
  width: 20%;
}

footer div p,
h2,
h4 {
  margin: 0;
}

@media (max-width: 600px) {
  .contact {
    display: none;
  }
  .logo h3 {
    font-size: 40px;
  }

  footer section {
    /* flex-direction: column; */
    gap: 1em;
  }
  .hide {
    display: none;
  }
  footer div {
    width: 100%;
  }

  .topbar {
    justify-content: space-between;
  }

  .banner h1 {
    color: white;
    font-size: 60px;
    width: 100%;
  }

  .banner p {
    font-size: 20px;
    width: 100%;
  }

  .buttons {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

  .topbar {
    gap: 0;
  }

  .filter {
    flex-direction: column;
    gap: 10px;
  }

  .filter input,
  .filter select {
    width: 100%;
    height: 3rem;
    color: white;
    padding: 0 20px;
    text-align: center;
  }
}
