* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html {
  background-color: rgb(5, 9, 43);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* padding-bottom: 50px; */
  margin: 10px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgb(10, 19, 70);
}

a {
  color: inherit;
}

.topbar {
  display: flex;
  margin-bottom: 0px;
  height: fit-content;
  gap: 3em;

  justify-content: space-around;
  align-items: center;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 50px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.aboutUs {
  width: 75%;
  margin: auto;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  text-align: center;
  margin: 1em auto;
}

ol li {
  font-size: 20px;
  font-weight: 900;
}

.aboutUs div {
  width: 40%;
  border-color: white;
}

@media (max-width: 600px) {
  .contact {
    display: none;
  }

  .logo h3 {
    font-size: 40px;
  }

  .topbar {
    justify-content: space-between;
    gap: 0;
  }

  .aboutUs {
    flex-direction: column;
  }

  .aboutUs div {
    width: fit-content;
  }
}
